name: Build

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2016]

    steps:
      - uses: actions/checkout@v2

      - name: Install prerequisites (Linux)
        if: startsWith(runner.os, 'Linux')
        run: |
          sudo pip3 install --upgrade setuptools pip
          sudo pip3 install conan

      - name: Install prerequisites (Windows)
        if: startsWith(runner.os, 'Windows')
        run: |
          pip3 install --upgrade setuptools pip
          pip3 install conan

      - name: Configure Conan
        run: conan remote add osp https://osp.jfrog.io/artifactory/api/conan/conan-local --force

      - name: Run conan (Linux)
        if: startsWith(runner.os, 'Linux')
        run: |
          conan install . -s build_type=Release -s compiler.libcxx=libstdc++11 --install-folder=build
        shell: bash

      - name: Run conan (Windows)
        if: startsWith(runner.os, 'Windows')
        run: |
          conan install . -s build_type=Release --install-folder=build
        shell: bash

      - name: Configure (Linux)
        if: startsWith(runner.os, 'Linux')
        run: |
          cmake -H. -Bbuild -DPROXY_FMU_BUILD_EXAMPLES=ON
          cmake --build build
        shell: bash

      - name: Configure and build (Windows)
        if: startsWith(runner.os, 'Windows')
        run: |
          cmake . -G "Visual Studio 15 2017 Win64" -DPROXY_FMU_BUILD_EXAMPLES=ON
          cmake --build build --config Release
        shell: bash

#      - name: Test (Linux)
#        if: startsWith(runner.os, 'Linux')
#        run: |
#          cd build/tests && ctest
#        shell: bash
#
#      - name: Test (Windows)
#        if: startsWith(runner.os, 'Windows')
#        run: |
#          cd build/tests && ctest -C Release
#        shell: bash